body {
  font-family: Arial, sans-serif;
  background-color: #fffb00; /* Amarelo Mercado Livre */
  text-align: center;
  padding-top: 30px;
}

h1 {
  color: #27ae60; /* Verde suave */
  margin-bottom: 25px;
}

.box {
  background-color: white;
  padding: 30px;
  display: inline-block;
  border-radius: 12px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
  width: 320px;
  text-align: center;
}

label {
  font-weight: bold;
  display: block;
  margin-top: 10px;
  text-align: left;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #0056b3;
}

a {
  display: inline-block;
  margin-top: 15px;
  padding: 8px 20px;
  background-color: #27ae60;
  color: white;
  border-radius: 8px;
  text-decoration: none;
}

a:hover {
  background-color: #219150;
}
