body {
  font-family: Arial, sans-serif;
  background-color: #fffb00;
  text-align: center;
  padding-top: 30px;
}

h1 {
  color: #27ae60;
  margin-bottom: 30px;
}

.card {
  background-color: white;
  display: inline-block;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

label {
  font-weight: bold;
  display: block;
  margin-top: 10px;
}

input[type="email"],
input[type="password"] {
  width: 250px;
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #27ae60;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s;
}

a:hover {
  background-color: #219150;
}

#btnPost {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
}
#btnPost:hover {
    background-color: #0056b3;
}
